.container-login100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: #ebebeb;
}
.form-url{
    width: 560px;
    background: #fff;
    border-radius: 10px;
    position: relative;
}

.wrap-login100 {
    width: 100%;
    background: #fff;
    border-radius: 10px;
    position: relative;
}
.p-r-85 {
    padding-right: 85px;
}
.table-style{
    background: white;
    border-radius: 4px;
    padding: 12px;
    margin: 20px 0px;
}
.p-l-85 {
    padding-left: 85px;
}
.p-b-55 {
    padding-bottom: 55px;
}
.p-t-55 {
    padding-top: 55px;
}
.content-center{
    justify-content: center;
}
.center-div{
    margin: 0 auto;
    width: 60%;
}
.block-content{
    border: 2px solid #CCC;
    padding: 42px 60px;
    border-radius: 4px;
}
.key-label{
    width: 10vw;
    height: 8vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.input-key{
    font-size: 22px;
    width: 100%;
    border: none;
}
.p-40{
    padding: 40px !important;
}
.dn{
    display: none;
}
.scroll{
    overflow: scroll;
}
.login100-form-btn:hover{
    opacity: 0.7;
}
